@import url("https://fonts.googleapis.com/css2?family=Stoke:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#whatsapp {
  position: fixed;
  width: 80px;
  right: 0;
  bottom: 0;
}

h1, h2, h3, h4 {
  font-family: "Staatliches", cursive;
}

a {
  text-decoration: none;
  color: black;
  transition: 0.5s;
}
a:hover {
  color: white;
  transition: 0.5s;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

header {
  grid-area: header;
  background-color: #d3b246;
  height: 80px;
  display: flex;
  justify-content: center;
}
header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  max-width: 1600px;
  width: 100%;
}
header nav i {
  font-size: 28px;
}
header nav button {
  background-color: #d3b246;
  border: none;
}
header nav .barra_navegacion, header nav .nav_rapida {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-right: 20px;
}
header nav .barra_navegacion input, header nav .nav_rapida input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 400px;
  outline: none;
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
}
header nav .barra_navegacion #header-search, header nav .nav_rapida #header-search {
  width: 40px;
  margin-left: -60px;
  padding: 5px;
  cursor: pointer;
}
header nav .nav_rapida {
  gap: 30px;
}
header nav .nav_rapida a {
  display: flex;
  text-decoration: none;
  align-items: center;
}
header nav .nav_rapida a .logo {
  color: black;
  font-size: 40px;
  font-family: "Stoke", serif;
}
header nav .nav_rapida ul {
  font-weight: bold;
  display: flex;
  gap: 25px;
}
header nav .nav_rapida ul li a {
  font-size: 22px;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
}
header nav .nav_rapida ul li a:hover {
  color: white;
}
header nav .carrito_user-favs {
  display: flex;
  align-items: center;
  gap: 20px;
}
header nav .carrito_user-favs img {
  width: 40px;
  cursor: pointer;
  padding: 5px;
}
header nav .carrito_user-favs img:hover {
  color: white;
}

footer #footer_info {
  background-color: #d3b246;
  display: flex;
  justify-content: center;
}
footer #footer_info .container_span-footer {
  border-bottom: 3px solid black;
  margin-bottom: 5px;
  font-size: 18px;
  padding-bottom: 2px;
}
footer #footer_info .enlaces_info, footer #footer_info .contacto {
  max-width: 640px;
  height: 100%;
  margin: 15px 0 25px 0;
  margin-left: 20px;
  width: 33.3%;
}
footer #footer_info .enlaces_info ul, footer #footer_info .contacto ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
footer #footer_info .enlaces_info ul a i, footer #footer_info .contacto ul a i {
  font-size: 12px;
}
footer #footer_info .redes {
  height: 100%;
  margin: 15px 0 25px 15px;
  width: 25%;
}
footer #footer_info .redes ul {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
footer #footer_info .redes ul i {
  font-size: 25px;
}
footer #copyright_creditos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60px;
}

#containerLoginRegister {
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
#containerLoginRegister .container_login {
  margin-top: 30px;
  border: none;
  width: 650px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 40px;
}
#containerLoginRegister .container_login #email, #containerLoginRegister .container_login #pass {
  outline: none;
  padding: 5px;
  font-size: 18px;
  width: 100%;
  height: 50px;
}
#containerLoginRegister .container_login #title_login_register {
  font-size: 30px;
  border-bottom: 3px black solid;
}
#containerLoginRegister .container_login #login {
  border: 2px solid black;
  background-color: #d3b246;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
#containerLoginRegister .container_login #login span {
  font-family: "Staatliches", cursive;
  font-size: 20px;
}

.logError {
  font-weight: bold;
  color: #db0000;
}
.logError i {
  font-family: "Raleway", sans-serif;
}

#breadCrumb {
  display: flex;
}
#breadCrumb ul {
  margin: 15px;
  list-style: none;
  display: flex;
  gap: 20px;
}
#breadCrumb ul a:hover {
  color: #db0000;
}

.seccion_calzado, .seccion_verano, .seccion_accesorios, .seccion_invierno {
  position: relative;
}
.seccion_calzado .title_calzado, .seccion_verano .title_calzado, .seccion_accesorios .title_calzado, .seccion_accesorios .title_accesorios, .seccion_invierno .title_calzado, .seccion_invierno .title_invierno {
  position: absolute;
  color: #d3b246;
  font-weight: bold;
  font-size: 150px;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.seccion_calzado img, .seccion_verano img, .seccion_accesorios img, .seccion_invierno img {
  width: 100%;
  height: auto;
}

.seccion_invierno img {
  width: 100%;
}

.container_title-outfits {
  max-width: 2560px;
  margin: 0 auto;
  width: 80%;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 5px;
  border-bottom: 3px solid black;
}

.container-slider {
  max-height: 100%;
  position: relative;
  overflow: hidden;
}
.container-slider .slider {
  display: flex;
  width: 400%;
}
.container-slider .slider h1 {
  color: #d3b246;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 150px;
}
.container-slider .slider .slider__img {
  display: block;
  object-fit: cover;
  width: 100%;
}
.container-slider .slider__btn {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.531);
  top: 50%;
  transform: translateY(-50%);
  margin: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.25s;
}
.container-slider .slider__btn:hover {
  background-color: #d3b246;
  color: white;
  transition: 0.25s;
}
.container-slider .slider__btn--right {
  right: 0;
}

.title_slider {
  max-width: 1920px;
  position: relative;
  width: 1400px;
  margin: 0 auto;
}
.title_slider::after {
  content: " ";
  position: absolute;
  width: 24%;
  height: 2px;
  right: 0;
  top: 50%;
  background-color: #d3b246;
}
.title_slider h2 {
  text-align: center;
  font-size: 70px;
  margin-top: 30px;
}
.title_slider h2::after {
  content: " ";
  position: absolute;
  width: 24%;
  height: 2px;
  bottom: 21.5px;
  left: 0;
  background-color: #d3b246;
  top: 50%;
}

.seccion_descuento {
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  margin: 40px auto 40px auto;
  width: 1400px;
  gap: 30px;
  justify-content: center;
  overflow: hidden;
  position: relative;
}
.seccion_descuento .seccion_productos {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  gap: 50px;
  overflow: hidden;
}
.seccion_descuento .btn {
  height: 110%;
  width: 3%;
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transform: translateY(-50%);
  top: 55%;
  cursor: pointer;
  transition: 0.1s ease-out;
  /* color: transparent; */
  background-color: rgba(255, 214, 80, 0.466);
}
.seccion_descuento .btn:hover {
  transition: 0.1s ease-in;
  color: black;
  transition: 0.1s;
}
.seccion_descuento .btn-left {
  left: 0;
}
.seccion_descuento .btn-right {
  right: 0;
}

.producto {
  width: 250px;
  height: 435px;
  border-bottom: #d3b246 1px solid;
  position: relative;
  cursor: pointer;
  transition: 0.1s ease-out;
  box-shadow: 0 0 10px lightgrey;
  text-decoration: none;
  color: black;
}
.producto:hover {
  transition: 0.1s ease-in;
  box-shadow: 0 0px 20px lightgrey;
  background-color: #d3b246;
  border-bottom: black solid 1px;
}
.producto:hover p, .producto:hover span {
  color: black;
}
.producto .img-producto {
  width: 100%;
  height: 357px;
}
.producto .producto-info {
  padding: 10px;
}
.producto .producto-info .precio-sin-desc {
  text-decoration: line-through #db0000;
}
.producto .producto-info span {
  font-size: 20px;
  margin-right: 10px;
  font-weight: bold;
  font-family: "Staatliches", cursive;
}
.producto .producto-info .precio-descuento {
  color: #db0000;
}
.producto .producto-info .btn_agregar_carrito {
  padding: 0 2px;
}
.producto .producto-info .img_agregar_carrito {
  width: 20px;
  height: auto;
}

.container-productos {
  display: flex;
  max-width: 1920px;
  width: 1400px;
  margin: 0 auto;
}
.container-productos .filtro_productos {
  width: 20%;
  margin-bottom: 40px;
}
.container-productos .filtro_productos .title-filtro {
  font-size: 30px;
  margin: 20px 0 20px 0;
  border-bottom: 3px black solid;
  padding-top: 10px;
}
.container-productos .filtro_productos .rango-precio, .container-productos .filtro_productos .container-categoria {
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
  border-bottom: 3px solid black;
  margin-bottom: 20px;
}
.container-productos .filtro_productos .rango-precio span, .container-productos .filtro_productos .container-categoria span {
  font-family: "Staatliches", cursive;
  font-size: 22px;
  padding-bottom: 10px;
}
.container-productos .filtro_productos .rango-precio p, .container-productos .filtro_productos .container-categoria p {
  font-size: 25px;
  margin: 5px 0;
}
.container-productos .filtro_productos .rango-precio #input_rango-precio, .container-productos .filtro_productos .container-categoria #input_rango-precio {
  outline: none;
  -webkit-appearance: none;
  cursor: pointer;
  background-color: #d3b246;
  padding: 5px;
  margin-bottom: 10px;
  border: black 2px solid;
}
.container-productos .filtro_productos .rango-precio #input_rango-precio::-webkit-slider-thumb, .container-productos .filtro_productos .container-categoria #input_rango-precio::-webkit-slider-thumb {
  -webkit-appearance: none;
}
.container-productos .filtro_productos .container_number-price {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}
.container-productos .filtro_productos .container_number-price input {
  width: 40%;
  outline: none;
  font-size: 18px;
  font-family: "Staatliches", cursive;
}
.container-productos .filtro_productos .container-categoria .categorias_item {
  padding-top: 2px;
  cursor: pointer;
  transition: 0.25s;
}
.container-productos .filtro_productos .container-categoria .categorias_item:hover {
  color: #d3b246;
}
.container-productos .filtro_productos .container-categoria .producto {
  width: 20px;
}
.container-productos .filtro_productos .container-categoria a:hover {
  color: #d3b246;
}
.container-productos .filtro_productos .boton-descartar {
  border: 2px solid black;
  background-color: #d3b246;
  width: 100%;
  padding: 10px;
  cursor: pointer;
}
.container-productos .filtro_productos .boton-descartar span {
  font-family: "Staatliches", cursive;
  font-size: 20px;
}
.container-productos #lista_productos {
  margin: 40px 0 40px 60px;
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}

.container_price-agregar {
  font-size: "Staatliches", cursive;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container_price-agregar span {
  font-size: 20px;
  font-family: "Staatliches", cursive;
  font-weight: bold;
}
.container_price-agregar .btn_agregar_carrito {
  padding: 0 2px;
}
.container_price-agregar .img_agregar_carrito {
  width: 20px;
  height: auto;
}

.porc-descuento {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #d3b246;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  top: 10px;
  left: 10px;
}
.porc-descuento span {
  font-size: 20px;
  font-family: "Staatliches", cursive;
}

#container_name-fav {
  display: flex;
  justify-content: space-between;
}
#container_name-fav p {
  padding-bottom: 7.5px;
}
#container_name-fav #btn_no_fav {
  cursor: auto;
  padding: 0 2px;
}
#container_name-fav #nofav {
  width: 20px;
  height: auto;
}

.container_title-outfits {
  max-width: 1920px;
  width: 1400px;
}

.title_tuto-compra, .seccion_quienessomos-titulo {
  border-bottom: 3px black solid;
  margin: 10px 20px;
  padding: 5px 0;
  font-size: 30px;
}

.seccion_tuto-compra .container_tuto-pasos h2 {
  margin: 20px 30px;
  font-size: 26px;
}
.seccion_tuto-compra .container_tuto-pasos .container-paso {
  margin: 30px;
  display: flex;
}
.seccion_tuto-compra .container_tuto-pasos .container-paso .text_paso-title {
  margin: 5px;
  font-size: 20px;
}
.seccion_tuto-compra .container_tuto-pasos .container-paso .text_paso-parrafo {
  margin: 5px;
}
.seccion_tuto-compra .container_tuto-pasos .container-paso .paso-num {
  font-family: "Staatliches", cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin-right: 20px;
  font-size: 60px;
  background-color: #d3b246;
  padding: 20px 30px;
}

.seccion_quienessomos .seccion_quienessomos-info {
  display: flex;
}
.seccion_quienessomos .seccion_quienessomos-info img {
  width: 50%;
  margin: 20px 30px;
}
.seccion_quienessomos .seccion_quienessomos-info p {
  line-height: 45px;
  text-align: justify;
  margin: 20px 30px 0 0;
  font-size: 20px;
}
.seccion_quienessomos .seccion_quienessomos-info p a:hover {
  color: #d3b246;
}

.seccion_info-producto {
  width: 80%;
  border: red solid 2px;
  display: flex;
  justify-content: space-between;
}
.seccion_info-producto .imagenes-producto .img-producto {
  width: 400px;
}

.container_title-vaciar {
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid black;
  max-width: 1400px;
  margin: 20px auto 0;
}

.title_carrito {
  font-size: 45px;
}
.title_carrito #burbujaCarrito, .title_carrito #burbujaFavs {
  font-family: "Staatliches", cursive;
}

#trash {
  font-size: 30px;
  right: 260px;
  top: 122.5px;
  cursor: pointer;
  font-family: "Staatliches", cursive;
  transition: 0.5s;
}
#trash:hover {
  color: #db0000;
  transition: 0.5s;
}

.carrito, .favs {
  max-width: 1400px;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 30px 0;
  margin: 0 auto;
  gap: 30px;
}
.carrito aside, .favs aside {
  display: flex;
  flex-direction: column;
  width: 35%;
  gap: 20px;
}
.carrito aside #total_carrito, .favs aside #total_carrito {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 275px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 15px;
  gap: 25px;
}
.carrito aside #total_carrito .resumen_carrito, .favs aside #total_carrito .resumen_carrito {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.carrito aside #total_carrito .precio_envio, .favs aside #total_carrito .precio_envio, .carrito aside #total_carrito .precio_total, .favs aside #total_carrito .precio_total {
  display: flex;
  justify-content: space-between;
}
.carrito aside #total_carrito h3, .favs aside #total_carrito h3 {
  font-size: 26px;
}
.carrito aside #total_carrito span, .favs aside #total_carrito span {
  font-size: 22px;
  font-family: "Staatliches", cursive;
}
.carrito aside #total_carrito button, .favs aside #total_carrito button {
  border: 2px solid black;
  background-color: #d3b246;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  font-size: 22px;
  font-family: "Staatliches", cursive;
}
.carrito aside .container_code-desc, .favs aside .container_code-desc, .carrito aside .container_metodos, .favs aside .container_metodos {
  width: 100%;
}
.carrito aside .container_code-desc .codigo_desc, .favs aside .container_code-desc .codigo_desc, .carrito aside .container_metodos .codigo_desc, .favs aside .container_metodos .codigo_desc {
  border: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 20px;
  font-family: "Staatliches", cursive;
  padding: 10px;
  width: 100%;
  height: 50px;
  outline: none;
}
.carrito aside .container_metodos, .favs aside .container_metodos {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  gap: 10px;
}
.carrito aside .container_metodos .title_metodos, .favs aside .container_metodos .title_metodos {
  font-size: 26px;
}
.carrito aside .container_metodos img, .favs aside .container_metodos img {
  width: 100%;
  height: auto;
}
.carrito img, .favs img {
  height: 275px;
}
.carrito #btnDesc, .favs #btnDesc {
  position: absolute;
}
.carrito #lista_carrito, .favs #lista_carrito {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.carrito #lista_carrito #producto_carrito, .favs #lista_carrito #producto_carrito {
  height: 275px;
  width: 100%;
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.carrito #lista_carrito .btn_eliminar-producto, .favs #lista_carrito .btn_eliminar-producto {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 20px;
  margin: 0 0 0 auto;
}
.carrito #lista_carrito .carrito_vacio, .favs #lista_carrito .carrito_vacio {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.carrito #lista_carrito .carrito_vacio h3, .favs #lista_carrito .carrito_vacio h3 {
  font-size: 50px;
}
.carrito #lista_carrito .carrito_vacio span a, .favs #lista_carrito .carrito_vacio span a {
  background-color: #d3b246;
  padding: 5px 20px;
  border: 2px solid black;
  font-family: "Staatliches", cursive;
  font-size: 20px;
}
.carrito #lista_carrito .carrito_vacio span a:hover, .favs #lista_carrito .carrito_vacio span a:hover {
  color: black;
}
.carrito #lista_carrito .container_carrito-info, .favs #lista_carrito .container_carrito-info {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.carrito #lista_carrito .container_carrito-info .container_btn-cant, .favs #lista_carrito .container_carrito-info .container_btn-cant {
  display: flex;
  cursor: pointer;
}
.carrito #lista_carrito .container_carrito-info .container_btn-cant .btn_cant, .favs #lista_carrito .container_carrito-info .container_btn-cant .btn_cant {
  padding: 0 10px;
  font-size: 18px;
  position: absolute;
  left: 72.5%;
}
.carrito #lista_carrito .container_carrito-info .container_btn-cant .btn_cant:hover, .favs #lista_carrito .container_carrito-info .container_btn-cant .btn_cant:hover {
  color: #d3b246;
}
.carrito #lista_carrito .container_carrito-info .container_btn-cant .btn_cant-inc, .favs #lista_carrito .container_carrito-info .container_btn-cant .btn_cant-inc {
  top: 33%;
}
.carrito #lista_carrito .container_carrito-info .container_btn-cant .btn_cant-rest, .favs #lista_carrito .container_carrito-info .container_btn-cant .btn_cant-rest {
  top: 39%;
}
.carrito #lista_carrito .container_carrito-info div, .favs #lista_carrito .container_carrito-info div {
  font-size: 20px;
  margin: 20px 5px 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carrito #lista_carrito .container_carrito-info div #input_cantidad_prod, .favs #lista_carrito .container_carrito-info div #input_cantidad_prod {
  font-family: "Staatliches", cursive;
  font-size: 20px;
  text-align: center;
  width: 20%;
  padding-left: 12.5px;
}
.carrito #lista_carrito .container_carrito-info div .name_producto-carrito, .favs #lista_carrito .container_carrito-info div .name_producto-carrito {
  font-size: 30px;
  font-family: "Staatliches", cursive;
}
.carrito #lista_carrito .container_carrito-info div .precio_producto-carrito span, .favs #lista_carrito .container_carrito-info div .precio_producto-carrito span {
  font-size: 22px;
  font-family: "Staatliches", cursive;
}
.carrito #lista_carrito .container_carrito-info div .talle_producto-carrito select, .favs #lista_carrito .container_carrito-info div .talle_producto-carrito select, .carrito #lista_carrito .container_carrito-info div .talle_producto-carrito option, .favs #lista_carrito .container_carrito-info div .talle_producto-carrito option {
  font-family: "Staatliches", cursive;
  padding-left: 5px;
  font-size: 20px;
}

.favs #lista_favs {
  width: 100% !important;
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.favs #lista_favs div {
  width: 49%;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#containerCarga {
  background-color: rgb(0, 0, 0);
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
  z-index: 10000;
}

#carga {
  border-top-color: #d3b246;
  border-top-style: groove;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-animation: girar 1.5s linear infinite;
  -o-animation: girar 1.5 linear infinite;
  animation: girar 1.5s linear infinite;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sectLinkImg {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  margin: 40px auto 0 auto;
  max-width: 1400px;
}
.sectLinkImg div .imgLinkInicio {
  width: 300px;
  border-radius: 5px;
  transition: 1s ease all;
}
.sectLinkImg div .imgLinkInicio:hover {
  filter: brightness(50%);
  transition: 1s ease all;
}
.sectLinkImg div .textLinkImg1 {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* 
body{
    background-color: #f5f5f5;
    margin: 0;
}
figure{
    background-color: white !important;
    display: block;
    margin: 1.5em;
    padding: .7em;
    blockquote{
        padding: .5em;
        font-size: 1.3em;
        font-style: italic;
        text-align: center;
    }    
    figcaption{
        text-align: center;
        margin-bottom: 1em;
        font-size: .9em;
        font-weight: bold;
        color: gray;
    }
}
.glider-contain{
    width: 1400px !important;
    padding: 0 10px;
}
.producto{
    margin: 0 15px;
}
.glider-next,.glider-prev{
    position: absolute;
    font-size: 24px !important;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #d3b246 !important;
    color: black !important;
    &:hover{
        color: black !important;
    }
}
.glider-next{
    top: 50%;
}
.glider-prev{
    top: 50%;
} */
/* Google Fonts - Poppins */
.slide-container {
  max-width: 1400px;
  padding: 40px 0 !important;
}

.swiper-btn {
  width: 50px !important;
  height: 50px !important;
  border-radius: 50%;
  background-color: #d3b246;
}
.swiper-btn i {
  color: black;
  font-size: 24px;
}

.swiper-button-prev:after, .swiper-button-next:after {
  content: "" !important;
}

/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #EFEFEF;
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  border-radius: 25px;
}
.card{
  border-radius: 25px;
  background-color: #FFF;
}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070F4;
  border-radius: 25px 25px 0 25px;
}
.overlay::before,
.overlay::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #4070F4;
}
.overlay::after{
  border-radius: 0 25px 0 0;
  background-color: #FFF;
}
.card-image{
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #FFF;
  padding: 3px;
}
.card-image .card-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070F4;
}
.name{
  font-size: 18px;
  font-weight: 500;
  color: #333;
}
.description{
  font-size: 14px;
  color: #707070;
  text-align: center;
}
.button{
  border: none;
  font-size: 16px;
  color: #FFF;
  padding: 8px 16px;
  background-color: #4070F4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover{
  background: #265DF2;
}

.swiper-navBtn{
  color: #6E93f7;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: #4070F4;
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}


@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
}
 */
.swiper-pagination-bullet {
  background-color: #d3b246 !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: #d3b246 !important;
}

/*# sourceMappingURL=estilos.css.map */
